.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  user-select: none;
  background: #182533;
  height: 3.2rem;
  border-radius: 1.6rem;
  padding: 0 1rem;
  color: #6C7883;
  width: 100%;

  &__title {
    margin-right: 0.625rem;
  }

  &__pages {
    width: 16rem;
    padding: 0.0625rem 0.3125rem 0 0.5625rem;
    color: #fff;
    box-sizing: border-box;
    border-radius: 0.625rem;
    position: relative;
  }

  &__current-page {
    display: flex;
    justify-content: flex-end
  }

  &__arrow {
    display: flex;
    align-items: center;
    width: 0.5rem;
    margin-left: 1rem;
    transition: transform 0.2s ease-in;
    * {
      fill: #6C7883;
    }
  }

  &__arrow-svg {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
  }

  &_open &__arrow-svg {
    transform: rotate(180deg);
  }

  &__cancel {
    background: #666666;
    height: 2.4rem;
    box-sizing: border-box;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
  }

  &__page {
    padding: 0.0625rem 0.3125rem 0 0.5625rem;
    height: 1.25rem;
    background: #182533;
    &_active {
      color: #1A5BBC;
    }

    &:first-child {
      border-top-left-radius: 0.5625rem;
      border-top-right-radius: 0.5625rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.5625rem;
      border-bottom-right-radius: 0.5625rem;
    }

    &_firstActivePage {
      border-top-left-radius: 0.5625rem;
      border-top-right-radius: 0.5625rem;
    }

    &_lastActivePage {
      border-bottom-left-radius: 0.5625rem;
      border-bottom-right-radius: 0.5625rem;
    }
  }

  &__pages-list {
    position: absolute;
    bottom: 2rem;
    left: -1rem;
    width: 16rem;
    background: #182533;
    box-sizing: border-box;
    border-radius: 1.325rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.6rem 1.2rem;
  }

  &__page-title {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}
