.full-event-settings {
  background: #27292f;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 2.5rem;
  user-select: none;
  color: #FFF;
  &__collapse-button {
    width: 2.2rem;
    height: 100%;
    padding: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    * {
      fill: #268BE9;
    }
    &:hover {
      background: linear-gradient(180deg, rgba(38, 139, 233, 0) 0%, #268BE9 100%);
      * {
        fill: #FFF;
      }
    }
  }
  &__icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 100%;
    }
  }
  &__icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 2.2rem;
  }
}