.input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #5892ff;
  background: transparent;
  display: block;
  font-size: 1rem;
  width: 100%;
  min-height: 2rem;
  outline: none;
  color: #fff;

  &::placeholder {
    color: #6C7883;
  }

  &_sizable {
    &_default {
      height: 100%;
    }
    &_low {
      height: 2rem;
    }
    &_high {
      height: 3rem;
    }
    &_rounded {
      border-radius: 1.17rem;
    }
  }

  &_type {
    &_date {
      font-size: 0.75rem;
      font-family: 'Segoe UI', sans-serif;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }
    }
    &_input-basket-modal {
      border-radius: 0;
      width: 5rem;
      font-size: 1rem;
    }
  }
}