// @import 'shared/style/varMobile.scss';

$blue-text:#1A5BBC;
$profile-background: #eeeeee;
$header-background: #0F3061;
$logo-background: #13366D;
$gradient: linear-gradient(270deg, #e0e0e0 0%, #bababa 100%);

$results-main-background:  #486078;
$select-main-background:  #486078;
$main-background:  #486078;
$select-border: #429BDB;
$blue-text:  #429BDB;
$tourney-header: #242F3D;
$tourney-arrow: #242F3D;
$event-background: #242F3D;

$subheader-menu-background: #486078;
$subheader-menu-item-background: #1f4b9e;
$subheader-menu-button-background: #9e1f1f;

$popular-menu: #486078;
$popular-title: #1f4b9e;

$slots-menu: #486078;
$text-active: #95e4b7;
