.basket-bet-item {
  background: #32353d;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
  &__header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.3rem;
    text-transform: uppercase;
    align-items: center;
    color: #95e4b7;
  }
  &__flag {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
  }
  &__remove {
    min-width: 0.8rem;
    width: 0.8rem;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: auto;
  }
  &__exodus {
    align-self: center;
  }
  &__teams {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0.3rem;
  }
  &__rate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.3rem;
  }
  &__coef {
    font-weight: bold;
    padding: 0.6rem;
    background: #1f4b9e;
    border-radius: 3px;
  }
}