@import 'shared/style/varDesktop.scss';

.withdrawal {
  color: #fff;
  padding: 1.4375rem 1.125rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  &__modal {
    background: #666666;
    border-radius: 10px;
    padding: 1.4rem;
    box-sizing: border-box;
    color: #fff;
  }
  &__modal-title {
    font-size: 1.1rem;
    font-weight: bold;
  }
  &__modal-top  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__modal-text {
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem 0 0.7rem;
    p:not(:last-child) {
      margin-bottom: 1rem;
    }
    span {
      color: #5288C1;
    }
  }
  &__modal-close {
    width: 1.2rem;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.8125rem;
  }
  &__additional-title {
    font-weight: 100;
    display: block;
    width: 50%;
  }
  &__bottom-text {
    width: 100%;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4rem;
  }
  &__how-use-button {
    color: #268BE9;
    text-decoration: underline;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    height: 3.5rem;
    background: #242F3D;
    border-radius: 10px;
    margin-bottom: 1rem;
    &:not(:nth-child(3n)) {
      margin-right: 3.5%;
    }
  }
  &__top-up {
    display: flex;
    align-items: flex-end;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__ik-img {
    width: 198px;
  }
  &__image {
    max-width: 60%;
    max-height: 80%;
  }
}