.live-tourney-sub-header{
  display: flex;
  width: 100%;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background: #070A14;
  height: 1.8rem;
  font-size: 0.8rem;
  justify-content: flex-end;
  &__title {
    width: 55%;
    box-sizing: border-box;
    padding-left: 0.9rem;
  }
  &__coefs {
    width: 45%;
    display: flex;
    justify-content: space-around;
  }
}