.live {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #666666;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
  }
  &__menu-container {
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
  }
}