.bonus-info {
  width: 100%;
  padding: 1rem;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #268BE9;
  box-sizing: border-box;

  &__title {
    margin-bottom: 1rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  &__row-value {
    color: #268BE9;
  }
}