@import "shared/style/varDesktop.scss";

.results {
  width: 100%;
  position: relative;
  background: #002857;

  &__header {
    height: 2.78rem;
    background: #1f4b9e;
  }

  &__header-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    text-transform: uppercase;
  }

  &__main {
    background: linear-gradient(270deg, #E0E0E0 0%, #BABABA 100%), #002857;
    border-radius: 0 0 11px 11px;
  }

  & form:last-child {
    border-radius: 0 0 11px 11px;
  }
}