.center-menu {
  display: flex;
  height: 3.125rem;
  background: #113B79;
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;

  &__link {
    height: 100%;
    width: 50%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    padding-top: 3px;

    &_active {
      background: linear-gradient(180deg, rgba(26, 91, 188, 0) 0%, #1A5BBC 100%);
      border-bottom-color: #268BE9;
    }
  }
}