.live-tourney-header {
  width: 100%;
  display: flex;
  min-height: 1.8rem;
  background: #182533;
  color: #ffffff;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  &__title {
    height: 100%;
    flex-grow: 1;
    font-size: 1.1rem;
    display: flex;
    font-size: 0.8rem;
    color: #6C7883;
    align-items: center;
    margin-left: 1rem;
  }
  &__icon {
    min-width: 1.6rem;
    height: 1.6rem;
    padding: 0 0.8rem;
  }
  &__bet-name {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow-box {
    margin-left: auto;
    width: 1.8;
    min-width: 1.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  &__arrow-icon {
    width: 100%;
    * {
      fill: #6C7883;
    }
    &-svg {
      width: 1rem;
      height: 1rem;
    }
    &_closed {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}