@import 'shared/style/varDesktop.scss';

.pay-history {
  color: #000000;
  padding: 0.75rem 1.125rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100%;
  font-size: 0.875rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.8125rem;
  }
  &__table {
    width: 100%;
  }
  &__table-main {
    width: 100%;
  }
  &__table-row {
    display: flex;
    width: 100%;
    background: $main-background;
    border-radius: 0.625rem;
    height: 2.0625rem;
    align-items: center;
    padding: 0 0.9375rem;
    box-sizing: border-box;
    margin: 0.3125rem 0;
    border: 1px solid $grey-border;
  }
  &__table-header {
    display: flex;
    width: 100%;
    background: $green-gradient;
    border-radius: 0.625rem;
    height: 2.0625rem;
    align-items: center;
    padding: 0 0.9375rem;
    color: #ffffff;
    box-sizing: border-box;
  }
  &__table-cell {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &_type {
      &_date, &_amount, &_status {
        width: 15%;
      }
      &_type {
        width: 55%;
      }
      &_status {
        justify-content: center;
      }
    }
  }
}