.sign-up {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #486078;

  &__menu {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}