.event {
  color: #fff;
  width: 100%;
  display: flex;
  height: 2.5rem;
  overflow: hidden;
  background: #32353d;
  box-sizing: border-box;
  &_open {
    margin-bottom: 10px;
  }
  &__wrapper:not(:last-child) {
    margin-bottom: 10px;
  }
  &__title {
    width: 31.5%;
    min-width: 31.5%;
    display: flex;
    align-items: center;
  }
  &__score {
    margin-left: auto;
    height: 100%;
    padding: 0 1rem;
    background: #32353d;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-left: 1px solid #95e4b7;
    width: 41%;
    min-width: 41%;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__date {
    margin-left: auto;
    height: 100%;
    padding: 0 1rem;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    width: 30%;
    min-width: 30%;
    font-size: 0.9rem;
  }
  &__date-date {
    white-space: nowrap;
  }
  &__date-time {
    font-size: 1.125rem;
    color: #c12b2c;
  }
  &__link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  &__icon {
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.8rem;
    padding-right: 0.8rem;
    margin-right: 0.8rem;
    border-right: #D0D0D0 2px solid;
  }
  &__value-item {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1d21;
    color: #95e4b7;
    &_type {
      &_additional {
        &~ div:nth-child(2n + 1):not(:last-child) {
            box-sizing: border-box;
            border-left: 1px solid #D0D0D0;
            border-right: 1px solid #D0D0D0;
        }
      }
    }
  }
  &__arrow-box {
    margin-left: auto;
    width: 1.4rem;
    min-width: 1.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    box-sizing: border-box;
    background: linear-gradient(180deg, #1b1d21 0%, #1b1d21 100%);
    cursor: pointer;
    * {
      fill: #FFF;
    }
    svg {
      transform: rotate(180deg);
    }
  }
  &__arrow-icon {
    width: 100%;
    transition: transform .3s ease;
  }
  &_open &__arrow-icon {
    transform: rotate(180deg);
  }
}