.link-menu {
  display: flex;
  align-items: center;
  height: 100%;
  &__item:nth-child(3) {
    margin-right: 2.5rem;
    border-right: 1px solid #268BE9;
    padding-top: 0.3rem;
    height: 1.8rem;
  }
  &__link {
    display: block;
    width: 1.5625rem;
    margin-right: 1.5625rem;
    &:hover {
      animation: linkAnim 0.5s ease;
    }
    &_type_link {
      width: auto;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  &__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    &-svg {
      width: 1.5rem;
      height: 1.5rem; 
    }
    &_type_fb {
      width: 45%;
    }
  }
  &__link-text {
    margin: 0 0.5rem;
    display: flex;
    flex-wrap: nowrap;
  }
  
  @keyframes linkAnim {
    20% {
      transform: translate(1px, 1px);
    }
    40% {
      transform: translate(-1px, -1px);
    }
    60% {
      transform: translate(1px, 1px);
    }
    80% {
      transform: translate(-1px, -1px);
    }
    100% {
      transform: translate(1px, 1px);
    }
  }
}
