.full-event-subheader-live {
  background: #494d59;
  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    height: 3rem;
    margin: 2.625rem 0.9375rem;
  }
  &__main-wrapper,
  &__statistic-wrapper {
    position: relative;
    bottom: 2rem;
    border-radius: 10px;
    padding: 0.5rem 0.8125rem 0.875rem 0.75rem;
    box-sizing: border-box;
    transition: 1s;
    backface-visibility: hidden;
  }

  &__main-wrapper {
    &_closed {
      transform: rotateY(180deg);
    }
  }
  &__sportBackground {
    width: 100%;
    height: 100%;
  }
  &__statistic-wrapper {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &_opened {
      transform: rotateY(360deg);
    }
  }

  &__top-block {
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #bebfc2;
    font-size: 0.8125rem;
    &_position {
      &_left,
      &_right {
        width: 20%;
      }
    }
  }

  &__center-block {
    display: flex;
    flex-direction: column;
    color: #fff;
    &_position {
      &_top {
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0.5rem;
      }
      &_bottom {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.1rem;
  }

  &__time-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.375rem;
    &-svg {
      width: 0.6875rem;
      height: 0.6875rem;
      * {
        fill: #fff;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__serve {
    width: 20%;
    color: #429bdb;
    font-size: 0.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  &__main {
    color: #fff;
    width: 100%;
    height: 2.6rem;
    margin: 0.2rem 0;
    background: linear-gradient(
      90deg,
      rgba(5, 102, 230, 0.3) 0%,
      #006bce 37.86%,
      #006bce 61.92%,
      rgba(5, 102, 230, 0.3) 95.58%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000000;
  }

  &__left,
  &__right {
    width: 40%;
    display: flex;
    text-overflow: ellipsis;
    overflow: visible;
    max-height: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }

  &__right-ball {
    width: 3rem;
    height: 3rem;
    padding-top: 0.3rem;
  }

  &__left {
    justify-content: flex-end;
    text-align: right;
  }

  &__left-ball {
    width: 3rem;
    height: 3rem;
    padding-top: 0.3rem;
  }

  &__center {
    justify-content: center;
    display: flex;
    height: 100%;
    padding: 0 0.6rem;
  }

  &__right {
    justify-content: flex-end;
  }

  &__score {
    color: #fff;
    font-size: 2.0625rem;
    border-bottom: 2px solid #fff;
    padding: 0 0.3125rem;
    font-weight: 500;
  }

  &__time {
    margin-top: 0.3125rem;
    color: #fff;
    font-size: 0.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__center-bottom-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.125rem;
  }
  &__times-score {
    font-size: 0.6875rem;
    text-align: center;
  }
  &__logo-wrapper {
    position: absolute;
    transform: translateY(-2.6rem);
  }
  &__img {
    width: 3.2rem;
  }
  &__teams-name {
    text-align: center;
    font-size: 0.9rem;
    max-height: 100%;
    height: 100%;
    width: 20%;
    line-height: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &_small {
      font-size: 0.75rem;
    }
  }
}
