.toto-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  color: #000000;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  &__info-block {
    width: 100%;
  }

  &__title {
    color: #000000;
    font-size: 0.9rem;
    border: 1px solid #D0D0D0;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    background: #EEEEEE;
    box-sizing: border-box;
    box-shadow: inset -2px 1px 0px rgba(255, 255, 255, 0.25);
    min-height: 2.6rem;
    padding-left: 0.9375rem;
    height: 100%;
    min-width: 32%;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    &:after {
      content: '';
      width: 2.6rem;
      min-width: 2.6rem;
      height: 100%;
      background: linear-gradient(to right bottom, transparent 0%, transparent 50%, #FFFFFF 50%, #EEEEEE 100%);
      margin-left: auto;
    }
  }

  &__text {
    display: block;
    align-self: flex-start;
    margin: auto 0;
    color: #000000;
  }

  &__outcome {
    width: 100%;
    background: #ffffff;
    border: 1px solid #D0D0D0;
    overflow: hidden;
    height: 2.6rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &_selected {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      border: none;
    }
  }

  &__checkbox-block {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.3rem;
  }
}