@import "shared/style/varDesktop.scss";

.about-us-layout {
  width: 100%;
  position: relative;
  background: #486078;
  padding-bottom: 1rem;
  user-select: text;
  color: #fff;
  font-size: 0.9375rem;
  &__top {
    padding: 0 0.9375rem;
  }
  &__header {
    height: 2.78rem;
    background: $slots-gradient;
    border: 1px solid $semi-light-blue;
  }
  &__paragraph {
    margin: 0 0.4375rem;
    margin-bottom: 1.25rem;
  }
  &__list {
    margin-bottom: 1.875rem;
  }
  li {
    list-style: none;
    // margin-bottom: 0.9375rem;
    margin: 0 0.625rem;
    display: flex;
    align-items: center;
    &::before {
      content: "•";
      font-size: 1.625rem;
      color: #5288c1;
      margin-right: 0.3125rem;
    }
  }
  &__group {
    margin-bottom: 1.875rem;
  }
  &__form {
    width: 80%;
    margin: 0 auto;
  }
  &__input-title {
    font-size: 0.875rem;
    color: #429BDB;
  }
  &__image {
    margin: 0 auto 1.5rem auto;
    width: 100%;
  }
  &__header-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    text-transform: uppercase;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 10px 10px 0px 0px;
    background: $slots-header-text-gradient;
  }
  &__title {
    display: block;
    font-size: 1.1875rem;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    margin-top: 1.5rem;
  }
  &__socials {
    display: flex;
  }
  &__social-item {
    display: block;
    width: 2.1875rem;
    height: 2.1875rem;
    &:not(:last-of-type) {
      margin-right: 1.25rem;
    }
  }
  &__social-item-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__social-item-icon {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__info {
    padding: 0 0.9375rem;
    box-sizing: border-box;
  }
  &__link {
    text-decoration: underline;
    font-weight: bold;
  }
}
