@import 'shared/style/varDesktop.scss';

.additional-info {
  width: 100%;
  &__title {
    font-weight: normal;
    font-size: 1.25rem;
    display: block;
    padding-left: 0.5625rem;
    line-height: 1.125rem;
    border-left: 2px solid #268BE9;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: $grey-text;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }
  &__item-field {
    width: 16.3125rem;
    height: 2.625rem;
    & input {
      font-size: 0.875rem;
    }
  }
  &__info {
    width: 100%;
    padding: 1rem 2.0625rem 1rem 2.0625rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  &__button {
    width: 11.25rem;
    height: 2.125rem;
    align-self: center;
    justify-self: center;
  }
}