@import 'shared/style/varDesktop.scss';

.profile-menu {
  width: 10.75rem;
  background: $profile-menu-background;
  flex-shrink: 0;
  &__item {
    width: 100%;
  }
  &__item-link {
    width: 100%;
    padding: 0.625rem 0.5rem 0.625rem 1.0625rem;
    display: flex;
    box-sizing: border-box;
    font-size: 0.75rem;
    transition: all .3s ease-in;
    &_active,&:hover {
      background: #135DA9;
    }
    &_active &-text, &:hover &-text {
      margin-left: 0.5rem;
    }
  }
  &__item-link-text {
    transition: all .3s ease-in;
  }
  &__item-link-arrow {
    display: none;
    width: 0.3125rem;
    transition: all .3s ease-in;
  }
  &__item-link_active &__item-link-arrow, &__item-link:hover &__item-link-arrow {
    display: block;
  }
}