.restore-email {
  background: #E0E0E0;
  border: 0.5rem solid #268BE9;
  height: 90%;
  z-index: 100;
  &__form {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    input {
      height: 1.5rem;
      margin-bottom: 1rem;
      width: 90%;
    }
    button {
      height: 2rem;
      width: 90%;
    }
  }
}
