.cyber-event-coef {
  width: 31%;
  min-width: 31%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 0 0.35rem;
  background: #242F3D;
  color: #fff;
  &_select {
    background: #4c3e1e;
    color: #ffb401;
    font-weight: bold;
  }
  &__name {
    opacity: 0.75;
  }
}
