.bet-history {
  color: #000000;
  box-sizing: border-box;

  &__bets {
    padding: 1rem 0.3rem;
  }

  &__paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.6rem;
  }
}
