.main-mobile-menu {
  width: 100%;
  min-height: 3.5rem;
  max-height: 3.5rem;
  display: flex;
  background: #182533;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
  overflow-x: auto;
  position: fixed;
  bottom: 0;
  z-index: 11;
  box-shadow: 0px 0px 4px #000812;
  &__item {
    width: 20%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.8rem;
    text-decoration: none;
    color: #fff;
    &_active * {
      fill: #429bdb;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__basket {
    display: flex;
    align-items: center;
    padding: 1rem;
    &_active * {
      fill: #429bdb;
    }
  }
  &__basket-icon {
    display: block;
    height: 1.7rem;
    width: 1.8rem;
  }
  &__count {
    display: block;
    padding: 0 0.3125rem;
    max-width: 2.1875rem;
    font-size: 0.7rem;
    text-align: center;
    box-sizing: content-box;
    border-radius: 0.625rem;
    color: white;
    background: #D32423;
  }
  &__icon-svg {
    width: 1.5rem;
    height: 1.35rem;
  }
  &__one-click {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    font-size: 0.9rem;
  }
  &__input {
    background: none;
    border: none;
    border-bottom: 1px dashed #268be9;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    outline: none;
    width: 1.5rem;
    height: 1.3rem;
    padding-top: 0.3rem;
    margin-right: 0.5rem;
    text-align: center;
  }
  &__settings {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 0.2rem;
  }
}
