@import 'shared/style/varMobile.scss';
.header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #242F3D;
  justify-content: flex-end;
  box-sizing: border-box;
  color: white;
  align-items: center;
  box-shadow: 0px 0px 4px #000812;
  position: fixed;
  top: 0;
  z-index: 11;
  &__header-wrapper {
    min-height: 3.5rem;
    max-height: 3.5rem;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
  }
  &__sign-up {
    padding: 0.9375rem 0rem 0.625rem 0.625rem;
    display: flex;
  }
  &__sign-in {
    padding: 0.9375rem 0.625rem 0.625rem 0rem;
    display: flex;
  }
  &__registration {
    align-self: center;
    font-size: 0.8rem;
    margin-left: 0.1rem;
  }
  &__authorization {
    align-self: center;
    font-size: 0.8rem;
    margin-right: 0.2rem;
  }
  &__user {
    margin-right: 0.5rem;
  }
  &__left {
    max-height: 3.3rem;
    min-height: 3.3rem;
    box-sizing: border-box;
    z-index: 3;
    margin-right: auto;
    width: 100%;
  }
  &__logo {
    display: block;
    height: 3.5rem;
  }
  &__logo-click {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__right {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__burger {
    display: block;
    margin: 0 0.4rem 0 1rem;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
  }

  &__button {
    margin-right: 0.1875rem;
    text-decoration: none;
    .button {
      font-size: 0.8rem;
    }
  }

  &__user-icon {
    display: block;
    width: 2rem;
    margin-right: 1rem;
  }

  &__basket {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  &__basket-icon {
    display: block;
    height: 1.5625rem;
    width: 1.5625rem;
  }

  &__count {
    display: block;
    padding: 0 0.3125rem;
    max-width: 2.1875rem;
    font-size: 0.7rem;
    text-align: center;
    box-sizing: content-box;
    border-radius: 0.625rem;
    color: white;
    background: #D32423;
  }

  &__balance {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.125rem;
  }

  &__bonus-balance {
    text-align: right;
    color: #6C7883;
  }

  &__balance-line {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
  }

  &__mini-icon {
    width: 0.85rem;
    margin-left: 0.3rem;
  }
}
