@import 'shared/style/varDesktop.scss';

.bet-history {
  color: #000000;
  padding: 0.75rem 1.125rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.8125rem;
    align-self: flex-start;
  }
  &__top {
    width: 100%;
    display: flex;
  }
  &__top-left {
    width: 33.3%;
  }
  &__top-center {
    padding-top: 2.5rem;
    width: 33.3%;
  }
  &__top-right {
    width: 33.3%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  &__bets-table {
    margin: 1rem 0;
    padding: 0.5rem 0;
    width: 100%;
    position: relative;
    &::before {
      position: absolute;
      z-index: 0;
      display: block;
      content: "";
      height: 1px;
      top: 0;
      left: 0;
      width: 100%;
      background: #CACACA;
      border-bottom: 1px solid #ffffff;
    }
  }
  &__bets-table-header {
    width: 100%;
    height: 2.0625rem;
    display: flex;
    background: #c12b2c;
    color: $white;
    border-radius: 10px;
    padding: 0 0.8125rem;
    font-size: 0.875rem;
    box-sizing: border-box;
    align-items: center;
    padding-right: 2.5rem;
  }
  &__bets-table-cell {
    overflow: hidden;
    height: 0.875rem;
    flex-grow: 0;
    flex-shrink: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0.3rem;
    
    &_type {
      &_date {
        width: 8%;
      }
      &_bet {
        width: 36%;
      }
      &_outcome {
        width: 20%;
      }
      &_amount, &_odd {
        width: 6%;
      }
      &_possible {
        justify-content: center;
        width: 9%,
      }
      &_code {
        width: 12%;
      }
      &_cart {
        width: 3%;
      }
    }
  }
  &__filter-button {
    display: flex;
    height: 1.875rem;
    padding: 0 0.8125rem;
    font-size: 0.875rem;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    background: #ffffff;
    margin-bottom: 0.5rem;
    &_open &-icon {
      transform: rotate(180deg);
    }
    &_open {
      margin-bottom: auto;
    }
  }
  &__filter-button-icon {
    display: block;
    width: 0.75rem;
    margin-left: 0.5625rem;
    transition: transform .2s ease-in;
  }
}