@keyframes animationToRight {
  0% {
    transform: translateX(0%);
    width: 50%;
  }
  50% {
    transform: translateX(0%);
    width: 100%;
  }
  100% {
    transform: translateX(100%);
    width: 50%;
  }
}

@keyframes animationToLeft {
  0% {
    transform: translateX(100%);
    width: 50%;
  }
  50% {
    transform: translateX(0%);
    width: 100%;
  }
  100% {
    transform: translateX(0%);
    width: 50%;
  }
}

.slots-menu {
  flex-shrink: 0;
  width: 100%;
  height: 3.2rem;
  background: #182533;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3.5rem;
  &__switcher {
    width: 60%;
    height: 2rem;
    text-transform: uppercase;
    display: flex;
    border-radius: 5px;
    position: relative;
    background: #666666;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      background: #5288c1;
      border-radius: 5px;
    }
    &_animate {
      &_false-true::after {
        animation: doubleLeftRight 0.5s ease-in-out forwards;
      }
      &_true-false::after {
        animation: doubleRightLeft 0.5s ease-in-out forwards;
      }
      &_true-true::after {
        transform: translateX(100%);
      }
    }
  }
  &__element {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c7883;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: bold;
    z-index: 2;
    transition: color 0.5s ease-in-out;
    &_active {
      color: #fff;
    }
  }
}
