@import 'shared/style/varDesktop.scss';

.evolution-games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: $livegames-gradient;
  border: 1px solid #268be9;
  box-sizing: border-box;
  border-radius: 0 0px 10px 10px;
}
