.full-event-coef {
  text-transform: none;
  width: 100%;
  min-height: 1.875rem;
  padding: 1px;
  background: #242f3d;
  font-size: 0.875rem;
  &__wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #32353d;
    &_select {
      background: #b33131a6;
    }
  }
  cursor: pointer;
  &__name {
    font-weight: normal;
    opacity: 0.75;
  }
  &__rate {
    font-weight: bold;
    padding: 0.6rem;
    background: #1f4b9e;
    border-radius: 3px;
    &_select {
      background: #c12b2c;
    }
  }
  &_blocked {
    opacity: 0.5;
    cursor: default;
  }
}
