.main-line-event-coef {
  width: 33%;
  min-width: 33%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 0 0.35rem;
  background: #32353d;
  color: #fff;
  &_select {
    background: #b33131a6;
    color: #fff;
    font-weight: bold;
    .main-line-event-coef__name {
      opacity: 1;
    }
  }
  &__name {
    opacity: 0.75;
  }
  &__rate {
    font-weight: bold;
    padding: 0.6rem;
    background: #1f4b9e;
    border-radius: 3px;
    &_select {
      background: #c12b2c;
    }
  }
}
