@import 'shared/style/varDesktop.scss';

.withdrawal {
  color: #000000;
  padding: 0.75rem 1.125rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100%;
  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.8125rem;
  }
  &__additional-title {
    font-weight: normal;
    font-size: 1.25rem;
    display: block;
    padding-left: 0.5625rem;
    line-height: 1.125rem;
    border-left: 2px solid #268BE9;
    margin-bottom: 1.5625rem;
  }
  &__paragraph {
    color: $grey-text;
    padding: 0 0.5625rem;
    font-size: 0.875rem;
    margin-bottom: 1.375rem;
    &_color {
      &_red {
        color: #FF0000;
        font-weight: bold;
      }
    }
  }
  &__text-list {
    color: $grey-text;
    padding: 0 0.5625rem;
    font-size: 0.875rem;
    margin-bottom: 1.375rem;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: $grey-text;
    font-size: 0.875rem;
    margin-right: 1rem;
  }
  &__item-field {
    width: 16.3125rem;
    height: 2.625rem;
    & input {
      font-size: 0.875rem;
    }
  }
}