.full-event-group {
  margin-bottom: 0.4rem;
  color: #fff;
  text-transform: uppercase;
  &__header {
    background: #1b1d21;
    height: 1.875rem;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.5rem;
    font-weight: 500;
    box-sizing: border-box;
    cursor: pointer;
    color: #95e4b7;
    // &:hover {
    //   background: #0061D3;
    // }
    // &_opened {
    // }
  }
  &__arrow {
    svg {
      * {
        fill: #6C7883;
      }
      transform: rotate(180deg);
    }
    &_opened {
      svg {
        transform: rotate(0deg);
      }
    }
  }
  &__arrow-container {
    width: 0.994375rem;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 0.3rem;
  }
  &__mock {
    width: 2.5rem;
  }
  &__row {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 0.625rem;
    &:last-child {
    }
  }
  &__coefficients {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: none;
  }
}