.line {
  background: #666666;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__back-content {
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
  }

  &__left-block {
    display: flex;
    align-items: center;
  }

  &__collapse {
    width: 2.125rem;
    height: 2.125rem;
    background: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    &_active {
      background: #5288c1;
      transform: rotate(180deg);
      .line__collapse-svg {
        * {
          fill: #000;
        }
      }
    }
    &-svg {
      width: 1.25rem;
      height: 1rem;
      * {
        fill: #6c7883;
      }
    }
  }

  &__back-image {
    width: 1.8rem;
    margin-right: 0.6rem;
  }
}
