.sign-in {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #486078;
  padding-top: 0.85rem;
  padding-bottom: 7.5625rem;
  color: #fff;

  &__top-block {
    width: 60%;
  }
  &__bottom-block {
    width: 80%;
  }
  &__recovery {
    width: 100%;
  }
  &__not-auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.8rem 0.85rem 1.2rem 0.85rem;
    align-items: center;
    background: #050A14;
    color: #fff;
    .button {
      margin-top: 0.5rem;
    }
  }

  &__title {
    font-size: 0.875rem;
    color: #429BDB;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding-bottom: 0.8rem;
    flex-wrap: wrap;
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      box-shadow: inset 0px -1px 0px #FFFFFF;
      background: #CACACA;
      margin-top: 1rem;
    }
  }

  &__social-item {
    height: 2.625rem;
    width: 2.625rem;
    margin-left: 1rem;
  }

  &__label {
    margin-bottom: 0.4rem;
    user-select: none;
  }

  &__input {
    height: 2.625rem;
    width: 100%;
    margin-bottom: 1.2rem;
    &_last {
      margin-bottom: 0.7rem;
    }
  }
  &__recovery {
    text-align: center;
  }

  &__button {
    width: 100%;
    align-self: center;
  }

  &__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  .check-box {
    margin-left: 0.5rem;
  }

  &__remember {
    display: flex;
    align-items: center;
  }
}