.sell-bet {
  width: 100%;
  border: 1px solid #268BE9;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    padding-left: 1.0625rem;
    height: 2.8571rem;
    flex-grow: 2;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%);
    border-bottom: 1px solid #268BE9;
  }
  &__error {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.5714rem;
    background: linear-gradient(90deg, #012F75 0%, #0153A0 100%), #154894;
  }
  &__main {
    background: linear-gradient(90deg, #012F75 0%, #0153A0 100%), #154894;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__text {
    padding: 1.5rem 2rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    .button {
      width: 40%;
    }
  }
}