@import 'shared/style/varDesktop.scss';
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  &__header {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin: 0.8rem 0;
    padding-left: 2.2rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
  &__title {
    font-size: 0.93rem;
    color: $grey-text;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__activation-button {
    width: 12rem;
    height: 2.15rem;
  }
  &__value {
    height: 2.5rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  }