.main-line-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1rem;
    text-transform: uppercase;
    color: white;
  }
  &__icon {
    width: 2rem;
    margin-right: 0.6rem;
  }
  &__list {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    padding-left: 1rem;
    display: flex;
    margin-top: 1rem;
  }
}