.live-tourney {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  box-sizing: border-box;
  margin-bottom: 5px;
  &__events {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}