@import 'shared/style/varDesktop.scss';

.bets-filter {
  font-size: 0.75rem;
  &__title {
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  &__checkboxes {
    display: flex;
    margin-bottom: 0.875rem;
    justify-content: center;
  }
  &__checkbox-item {
    display: flex;
    align-items:  center;
    margin-right: 0.375rem;
    &-text {
      margin-left: 0.6875rem;
      white-space: nowrap;
    }
  }
  &__date-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    &-input {
      margin: 0 0.1875rem;
      width: 100%;
      border-bottom: 3px solid #429BDB;
      margin-bottom: 1.5rem;
      & .react-date-picker {
        width: 100%;
        &__wrapper {
          background-color: #666666;
          border: none;
          color: white;
          * {
            stroke: #429BDB;
          }
        }
        & .react-date-picker__inputGroup__day {
          padding-left: 0.7rem;
          color: white;
        }
        & .react-date-picker__inputGroup__month {
          padding-left: 0.7rem;
          color: white;
        }
        & .react-date-picker__inputGroup__year {
          padding-left: 0.7rem;
          color: white;
        }
      }
    }
    margin-bottom: 1.0625rem;
  }
  &__button {
    width: 10rem;
    margin: 0 auto;
  }
}