.cyber-tourney-header {
  width: 100%;
  display: flex;
  min-height: 2.6rem;
  height: 2.6rem;
  color: #000000;
  background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%), #FFFFFF;
  box-sizing: border-box;
  border-bottom: 0.5px solid #D0D0D0;
  cursor: pointer;
  &__title {
    background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    box-shadow: inset -2px 1px 0px rgba(255, 255, 255, 0.25);
    min-height: 2.6rem;
    height: 100%;
    width: 32%;
    min-width: 32%;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::after {
      content: '';
      width: 2.6rem;
      min-width: 2.6rem;
      height: 100%;
      background: linear-gradient(to right bottom, transparent 0%, transparent 49.5%, #FFFFFF 50.5%, #EEEEEE 100%);
      margin-left: auto;
      border-bottom: 1px solid #D0D0D0;
      box-sizing: border-box;
    }
  }
  &__title-tourney {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.8rem;
  }
  &__icon {
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.8rem;
    padding-right: 0.8rem;
    &:first-child {
      border-right: #D0D0D0 2px solid;
    }
  }
  &__bet-name {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow-box {
    margin-left: auto;
    width: 2.3rem;
    min-width: 2.3rem;
    height: 100%;
    border-left: 1px solid #D0D0D0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    box-sizing: border-box;
    * {
      fill: #000000;
    }
  }
  &__arrow-icon {
    width: 100%;
    &_closed {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &:hover .tourney-header__arrow-box {
    background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    * {
      fill: #000000;
    }
  }
}