.one-click-block {
  width: 100%;
  border: 1px solid #268BE9;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    padding-left: 1.0625rem;
    text-transform: uppercase;
    height: 2.8571rem;
    flex-grow: 2;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%);
    border-bottom: 1px solid #268BE9;
  }

  &__input-container {
    display: flex;
  }

  &__settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.5714rem;
    background: linear-gradient(90deg, #012F75 0%, #0153A0 100%), #154894;
  }

  &__plus {
    height: 2.1429rem;
    background: #268BE9;
    border-radius: 0px 5px 5px 0px;
    width: 2.14rem;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    &:active {
      background: darken(#268BE9, 20%)
    }
  }
  &__minus {
    height: 2.1429rem;
    background: #268BE9;
    border-radius: 5px 0px 0px 5px;
    width: 2.14rem;
    display: flex;
    position: relative;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    &:active {
      background: darken(#268BE9, 20%)
    }
    &:before, &:after {
      position: absolute;
      left: 49%;
      content: ' ';
      height: 1.14rem;
      transform: rotate(90deg);
      width: 2px;
      background: white;
    }
  }
}