@import 'shared/style/varDesktop.scss';

.set-odd-type {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 8rem;
  &__item {
    max-height: 1.625rem;
    display: block;
    margin-bottom: 5px;
    font-size: 1.09rem;
  }
  &__current-item {
    font-size: 1.09rem;
  }
  &__items {
    z-index: 2;
    position: absolute;
    display: none;
    top: 1.5625rem;
    left: -0.7rem;
    min-width: 7rem;
    box-sizing: border-box;
    background: $subheader-gradient;
    padding: 0.4rem 0.7rem 0.45rem 0.7rem;
    border-radius: 0 0 7px 7px;
  }
  &_open &__items {
    display: block;
  }
  &_open &__arrow {
    transform: scaleY(-1);
  }
  &__top {
    display: flex;
  }
  &__arrow {
    margin-left: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in;
  }
  &__arrow-svg {
    width: 8px;
  }
}