@import 'shared/style/varMobile.scss';

.results-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $results-main-background;
  padding: 1.21rem 0;
  color: $blue-text;
  
  &__item {
    display: flex;
    width: 60%;
    font-size: 0.85rem;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 0.571rem;
  }

  &__item-date {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: left;
    align-items: center;
    margin-bottom: 0.571rem;
  }

  &__item-text {
    margin-right: 0.75rem;
    margin-bottom: 0.214rem;
    white-space: nowrap;
  }
  &__item-center-text {
    width: 95%;
    height: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  &__button {
    width: 45%;
    height: 2.5rem;
  }

  &__date-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    &-input {
      margin: 0 0.1875rem;
      width: 100%;
      border-bottom: 3px solid $select-border;
      margin-bottom: 1.5rem;
      & .react-date-picker {
        width: 100%;
        &__wrapper {
          background-color: $select-main-background;
          border: none;
          color: white;
          * {
            stroke: $blue-text;
          }
        }
        & .react-date-picker__inputGroup__day {
          padding-left: 0.7rem;
          color: white;
        }
        & .react-date-picker__inputGroup__month {
          padding-left: 0.7rem;
          color: white;
        }
        & .react-date-picker__inputGroup__year {
          padding-left: 0.7rem;
          color: white;
        }
      }
    }
    margin-bottom: 1.875rem;
  }
}