.slots-provider-menu {
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: #004A56;
  border: 1px solid #007083;
  display: flex;
  overflow-x: auto;
  &__item {
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform .3s ease;
    text-decoration: none;
    padding: 3px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 1.42rem;
    color: #fff;
    &_active {
      background: #007083;
    }
  }
}