.html-cyber {
  .app {
    background: linear-gradient(180deg, transparent 6.94%, #000000 82.19%), url('../../img/cyber-bg.png');
  }
  .header {
    background: #00302A;
    &__separator {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    &__mask {
      background: none;
    }
    &__top {
      background: #00302A;
    }
    &__bottom {
      background: #000000;
    }
    // &__logo-bg {
    //   background-image: url('../../img/cyber-logo.png');
    //   background-repeat: no-repeat;
    //   webkit-clip-path: none;
    //   clip-path: none;
    //   background-size: 90%;
    //   background-position-x: 17px;
    // }
    .button_colors {
      &_green {
        background: linear-gradient(180deg, #05C95F 0%, #007745 100%);
      }
    }
    .user-block {
      &__items {
        border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
      &__item {
        border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
      &__separator {
        background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
      &__link {
        background: #007745;
      }
    }
    .subheader {
      background: linear-gradient(0deg, #00302A, #00302A), linear-gradient(270deg, #154894 0%, #1A5BBB 90.31%), #1A5BBA;
      &__odd-text {
        color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
      .set-odd-type {
        &__items {
          background: #00302A;
        }
      }
    }
    .main-menu {
      &__item-wrapper {
        background: #000000;
        &_active {
          background: linear-gradient(180deg, #76FCD4 0%, #008152 100%), #268BE9;
        }
      }
    }
    .set-language {
      &__items {
        background:#000000;
      }
    }
    .link-menu {
      &__item:nth-child(3) {
        border-color: #006241;
      }
    }
  }
  .footer {
    background: #00302A;
    &__top {
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    &__text {
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    &__logo-list {
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      img {
        filter: hue-rotate(-58deg);
      }
    }
    .up-button {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    &__button-upload {
      border-bottom: 2px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
  }
  .basket {
    background: linear-gradient(90deg, #083A34 5.6%, #003A25 100%), linear-gradient(90.17deg, #0053A0 0.19%, #002F75 96.11%);
    border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    .basket-header {
      background: linear-gradient(180deg, #1ABCA9 16.25%, #008857 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #1A5BBC;
    }
    .basket-type {
      background: #000;
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      &__element {
        &_active{
          background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
        }
      }
    }
    .button_colors {
      &_blue {
        background: #000000;
      }
      &_green {
        background: linear-gradient(180deg, #05C95F 0%, #007745 100%);
      }
    }
    .basket-bet-item {
      background: linear-gradient(198.63deg, rgba(0, 78, 50, 0.49) 10.58%, rgba(0, 0, 0, 0.49) 11.56%, rgba(0, 0, 0, 0.49) 33.84%, rgba(0, 78, 50, 0.49) 34.15%, rgba(0, 0, 0, 0.49) 48.32%, rgba(0, 0, 0, 0.49) 59.89%, rgba(0, 78, 50, 0.49) 60.26%, rgba(0, 0, 0, 0.49) 75.54%), linear-gradient(0deg, #000000, #000000), linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
      color: #fff;
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      &__remove {
        * {
          fill: #fff;
        }
      }
      &__coef {
        color: #00FFC2;
      }
    }
    .basket-bet-list {
      background: #000000;
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    .basket-info {
      border-color: rgba(0, 0, 0, 0.16);
      &__horizontal-line {
        background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
    }
    .input {
      border-radius: 5px;
      background: #000000;
      border: 2px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      color: #fff;
    }
  }
  .sport-menu {
    border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    background: #000000;
    &__caption {
      background: linear-gradient(180deg, #1ABCA9 16.25%, #008857 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #1A5BBC;
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    .sport-item {
      &__sport {
        background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
      &__sport-left {
        background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
        box-shadow: none;
      }
      &_collapsed {
        .sport-item__sport-left {
          background: linear-gradient(90deg, #1ABCA9 5.6%, #008857 100%);
        }
        .sport-item__sport-text {
          color: #000;
        }
      }
    }
    .country-item {
      &__link {
        background: #234839;
        color: #FFF;
      }
    }
  }
  .one-click-block {
    border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    &__header {
      background: linear-gradient(180deg, #1ABCA9 16.25%, #008857 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%);
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    &__minus,
    &__plus {
      background:linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
    &__settings {
      background: #000;
      .switch-box:not(.switch-box_active) {
        background: #464646;
        .switch-box__indicator {
          background: #8F8F8F;
          border-color: #8F8F8F;
        }
      }
    }
  }
  .back-block {
    border-bottom: 1px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    &__content {
      background: #0C4A3A;
    }
    &__button {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
  }
  .full-event-back-block {
    &__collapse-svg {
      * {
        fill: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
    }
  }
  .main-mobile-menu {
    background: #000000;
    border-top: 1px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    border-bottom: 1px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    &__item:not(:last-child)::after {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
  }
  .switch-box:not(.switch-box_active) {
    background: #028D5F;
    .switch-box__indicator {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      border-color: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
  }
  .full-event-settings {
    background: #0C4A3A;
    border: 1px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    border-left: none;
    border-right: none;
  }
  .statistic-list {
    &__button {
      * {
        fill: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
      }
    }
    &__container {
      border: none;
    }
  }
  .statistic-item {
    &_active {
      background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    }
  }
  .full-event-table {
    background: linear-gradient(180deg, transparent 6.94%, #000000 82.19%), url('../../img/cyber-bg.png');
    border: 1px solid linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4; 
  }
  .full-event-group {
    &__header {
      background: #000000;
      border: none;
      color: #ffffff;
      &:hover {
        background: #000000;
      }
    }
    &__coefficients {
      border: none;
    }
    &__row {
      border: none;
    }
    &__arrow-svg {
      * {
        fill: white;
      }
    }
  }
  .full-event-coef {
    background: #234839;
    color: white;
  }
  .side-menu {
    background: #234839;
  }
  .full-event-subheader-line {
    &__main {
      background: linear-gradient(90deg, rgba(0, 107, 206, 0) 0%, #008857 42.31%, #008857 61.92%, rgba(0, 107, 206, 0) 100%);
    }
  }
}