$main-width: 2.6rem;

.live-tourney-header {
  width: 100%;
  display: flex;
  min-height: $main-width;
  height: $main-width;
  background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%), #FFFFFF;
  color: #002857;
  box-sizing: border-box;
  cursor: pointer;
  &__title {
    background: #1f4b9e;
    min-height: 2.6rem;
    height: 100%;
    width: 32%;
    min-width: 32%;
    padding-right: 2.6rem;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, calc(100% - 2.6rem) 100%, 0 100%);
    box-sizing: border-box;
    border-top: 2px solid #c12b2c;
  }
  &__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__icon {
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.8rem;
    padding: 0 0.8rem;
    border-left: #7FB8FD 2px solid;
  }
  &__bet-name {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow-box {
    margin-left: auto;
    width: 2.3rem;
    min-width: 2.3rem;
    height: 100%;
    border-left: 1px solid #D0D0D0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    box-sizing: border-box;
  }
  &__arrow-icon {
    width: 100%;
    &_closed {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &:hover .tourney-header__arrow-box {
    background: linear-gradient(180deg, #4CA5F7 0%, #0C6EFF 100%), linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #C4C4C4;
    * {
      fill: #FFF;
    }
  }
}
