@import 'shared/style/varDesktop.scss';

.country-item {
  background: #182533;
  margin-bottom: 3px;
  color: #fff;

  &__link {
    width: 100%;
    height: 3.5rem;
    display: flex;
    padding: 0 1rem 0 1.1rem;
    align-items: center;
    box-sizing: border-box;
  }
  
  &__icon {
    width: 1.5rem;
  }

  &__text {
    font-size: 0.9rem;
    margin-left: 0.85rem;
  }
  
  &__count {
    color: #6C7883;
    font-size: 0.8rem;
    margin-left: auto;
  }

  &__arrow {
    margin-left: 3px;
    width: 0.7rem;
    transform: rotate(270deg);
    * {
      fill: #6C7883;
    }
  }
}
