.multi-live-tourneys-menu-item {
  height: 3rem;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 0 0.8rem;
  border-radius: 1.5rem;
  background: #036d4d;
  &__header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__image {
    width: 1.9rem;
    height: 1.9rem;
  }
  &__count {
    font-size: 1.8rem;
    margin-left: auto;
  }
  &__name {
    text-transform: uppercase;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__events {
    position: absolute;
    width: 15rem;
    max-height: 12.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: -1;
    color: #002857;
    margin-left: auto;
    opacity: 0;
    &_open {
      display: flex;
      z-index: 9999;
      opacity: 1;
    }
  }
  &__item {
    padding: 0.3rem 1rem;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    min-height: 3rem;
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:first-child {
      border-top-right-radius: 10px;
    }
    &_active {
      background: linear-gradient(180deg, #e2d280 0%, #ffdf38 100%);
    }
  }
  &__teams {
    display: flex;
    flex-direction: column;
  }
  &__score {
    display: flex;
    flex-direction: column;
  }
}
