@import "shared/style/varDesktop.scss";

.profile-layout {
  width: 100%;
  min-height: 43.75rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__header {
    background: linear-gradient(90deg, #1a5bbc 5.6%, #063c8b 100%);
    width: 100%;
    height: 2.5rem;
    display: flex;
    border-bottom: 1px solid #c12b2c;
  }
  &__caption {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    height: 100%;
    padding: 0 1.4375rem;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    align-items: center;
  }
  &__main {
    flex-grow: 2;
    background: $profile-background;
    display: flex;
  }
  &__content {
    flex-grow: 2;
  }
}
