.phone-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  &__send-phone {
    height: 100%;
    font-weight: 100;
    padding: 0 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
  }
  &__title {
    color: #429BDB;
    font-size: 0.875rem;
  }
  &__wrapper {
    border-bottom: 2px solid #5892ff;
    display: flex;
    align-items: center;
  }
  &__input {
    width: 53%;
    outline: none;
    flex-grow: 2;
    border: none;
    background: #486078;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.6rem;
    color: #fff;
    font-size: 1rem;
  }
  &__selector {
    width: calc(22% - 2px);
    margin-right: 2px;
    min-width: calc(22% - 2px);
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
}