.statistic-list {
  flex-grow: 2;
  display: flex;
  align-items: center;
  height: 80%;
  border-right: 1px solid #95e4b7;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0.5rem;
  box-sizing: border-box;
  width: 0; // костыль
  &__items {
    flex-grow: 2;
    height: 100%;
    display: flex;
    overflow-x: auto;
    &::-webkit-scrollbar {
      margin-top: 3px;
      width: 2px;
      height: 0;
      opacity: 0;
    }
    &::-webkit-scrollbar-track {
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 50px;
    }
  }
  &__button {
    width: 1.7rem;
    min-width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    * {
      fill: #1A5BBC;
    }
    &:hover {
      * {
        fill: #FFF;
      }
    }
  }
  &__arrow {
    width: 100%;
    transform: rotate(-90deg);
    * {
      fill: #1A5BBC;
    }
    &_direction {
      &_left {
        svg {
          transform: rotate(270deg)
        }
      }
      &_right {
        svg {
          transform: rotate(90deg)
        }
      }
    }
  }
}