.basket-header {
  width: 100%;
  height: 2.8rem;
  background: linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #1A5BBC;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  &__img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
  }
  &__vertical-line {
    height: 75%;
    width: 2px;
    background: #268BE9;;
    opacity: 0.4;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.59);
    margin-left: 0.4rem;
    margin-right: 0.8rem;
  }
}