.pop-up-button {
  margin-bottom: 0.5625rem;
  width: 100%;
  height: 2.875rem;
  background: #486078;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.875rem;
  outline: none;

  &_color_lightblue {
    background: #5288C1;
  }
}