.full-event-live {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__empty {
    background: linear-gradient(270deg, #E0E0E0 0%, #BABABA 100%);
    border: 1px solid #268BE9;
    box-sizing: border-box;
    padding: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 1rem;
  }
}
