.favorites-events {
  background: linear-gradient(270deg, #E0E0E0 0%, #BABABA 100%);
  border: 1px solid #268BE9;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__loader {
    position: relative;
    top: 5rem;
  }
}