.totalizator {
  width: 100%;
  padding: 2rem;
  padding-top: 0;
  box-sizing: border-box;
  &__header {
    display: flex;
    width: 100%;
    padding: 0 1.5rem;
    padding-left: 0;
    box-sizing: border-box;
    align-items: center;
    height: 2.78rem;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #1A5BBC 5.6%, #063C8B 100%);
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #268BE9;
  }
  &__jackpot {
    margin-left: 1rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    width: 10rem;
  }
  &__tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
    padding: 0 1rem;
    text-transform: uppercase;
    &_active {
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
      border-radius: 10px 10px 0px 0px;
      background: linear-gradient(180deg, #268BE9 0%, #0E5BB6 100%);
    }
  }

  &__info-block {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    background: #FFFFFF;
    background: linear-gradient(90deg, #1A5BBC 5.6%, #063C8B 100%);
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #268BE9;
    height: 4rem;
    justify-content: space-between;
  }

  &__sum {
    display: flex;
    align-items: center;
    height: 2.6rem;
    width: 23%;
    justify-content: space-between;
  }

  &__input {
    display: flex;
    align-items: center;
  }

  &__container {
    background: #BABABA;
    padding: 10px;
    border: 1px solid #268BE9;
  }

  &__right-block {
    width: 8%;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
  }
  
  &__currency {
    margin-left: 5px;
  }
  
  &__left-block {
    flex-grow: 2;
    display: flex;
    height: 100%;
  }

  &__outcome {
    width: 1.5rem;
    text-align: center;
  }

  &__button {
    width: 10%;
    height: 2.8rem;
  }
}