.broadcast-event {
  width: 32%;
  background: #434bbd;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: 0.7rem;
  }

  &:hover {
    background: #6369bb;
  }

  &:hover &__header {
    background: #0fa56b;
  }
  
  &__header {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: #017e4e;
    color: #ffffff;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__team {
    display: flex;
    align-items: center;
  }

  &__teams {
    flex-grow: 2;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
  }

  &__team:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &__team-img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  &__time {
    flex-shrink: 0;
    font-size: 2rem;
    height: 100%;
    width: 6rem;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}