.live-sport {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  &:not(:first-child) {
    margin-top: 0.8rem;
  }

  &__header {
    width: 100%;
    min-height: 2.8rem;
    background: #1f4b9e;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  &__title {
    width: 25%;
    height: 100%;
    min-height: 2.8rem;
    text-transform: uppercase;
    background: #1f4b9e;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    &_color {
      &_green {
        background: #1f4b9e;
      }
      &_lightblue {
        background: #1f4b9e;
      }
      &_orange {
        background: #1f4b9e;
      }
      &_yellow {
        background: #1f4b9e;
      }
      &_lightgreen {
        background: #1f4b9e;
      }
    }
    &_opened {
      border-radius: 10px 10px 0 0;
    }
  }
  &__sport-img {
    max-height: 2rem;
    max-width: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  &__arrow-box {
    width: 2.8rem;
    min-width: 2.8rem;
    height: 2.3rem;
    border-left: 1px solid rgba(255, 255, 255, 0.3);;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem;
    box-sizing: border-box;
    margin-left: auto;
    * {
      fill: #FFF;
    }
  }
  &__arrow-icon {
    width: 100%;
    &_closed {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__collapce {
    display: block;
    width: 1.8rem;
    margin-left: auto;
    margin-right: 0.7rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    &_closed {
      transform: rotate(180deg);
      padding-top: 0.3rem;
      transition: all 0.5s ease-in-out; 
      &:hover {
        transform: scale(1.1) rotate(180deg);
      }
    }
  }
}