.full-event-subheader-coef {
  text-transform: none;
  width: 100%;
  min-height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.3125rem 0.3125rem 0.3125rem 1.125rem;
  background: #666666;
  font-size: 0.875rem;
  height: 2.625rem;
  cursor: pointer;
  &:not(:last-child) {
    border-right: 1px solid #5288c1;
  }
  &__name {
    font-weight: normal;
    opacity: 0.75;
  }
  &__rate {
    font-weight: bold;
    padding: 0.6rem;
    background: #0d7b3c;
    border-radius: 3px;
  }
  &_blocked {
    opacity: 0.5;
    cursor: default;
  }
  &_select {
    background: #5288C1;
  }
}