@import "shared/style/varDesktop.scss";

.contacts-layout {
  width: 100%;
  position: relative;
  border: 1px solid $semi-light-blue;
  border-radius: 11px;
  overflow: hidden;
  background: #072150;
  padding-bottom: 8.875rem;
  user-select: text;
  &__header {
    height: 2.78rem;
    background: $slots-gradient;
    border: 1px solid $semi-light-blue;
  }
  &__header-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    text-transform: uppercase;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 10px 10px 0px 0px;
    background: $slots-header-text-gradient;
  }
  &__top {
    height: 17.1875rem;
    background: url('../../../img/contacts-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    display: block;
    width: 14.75rem;
    height: 3.5625rem;
    background: url('../../../img/logo.png');
    background-size: cover;
    margin-top: 4.1094rem;
  }
  &__title {
    display: block;
    font-size: 2.25rem;
    color: #ffffff;
    text-transform: uppercase;
    width: 32.25rem;
    text-align: center;
    font-weight: 400;
    margin-top: 2.2031rem;
  }
  &__socials {
    display: flex;
  }
  &__social-item {
    display: block;
    width: 2.1875rem;
    height: 2.1875rem;
    &:not(:last-of-type) {
      margin-right: 1.25rem;
    }
  }
  &__social-item-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__social-item-icon {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__info {
    max-width: 48.9375rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    &:not(:last-of-type) {
      margin-bottom: 4.5625rem;
    }
  }
  &__info-text {
    font-size: 1.125rem;
    margin-bottom: 1.125rem;
  }
  &__info-phone {
    font-size: 1.875rem;
  }
  &__info-left {
    display: flex;
    flex-direction: column;
  }
  &__info-right {
    display: flex;
    width: 17.8125rem;
    flex-direction: column;
    align-items: center;
  }
  &__info-speech {
    display: block;
    width: 4.375rem;
    margin-bottom: 1.2844rem
  }
  &__info-button {
    width: 10rem;
    height: 2.1875rem;
  }
}