.switch-box {
  width: 2.5rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: #6C7883;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in;
  &_active {
    background: #5288C1;
    .switch-box__indicator {
      border-color: #5288C1;
      transform: translateX(1.2rem);
    }
  }
  &__indicator {
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #6C7883;
    border-radius: 100%;
    background: #182533;
    transition: all .2s ease-in;
  }
}