.broadcast-frames-menu {
  display: flex;

  &__close, &__item {
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    background: #facb33;
    
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  &__close {
    background: #9c1f1f;
  }

  &__item_active {
    background: #f8ae00;
  }
}