.event-coef {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #456fbd !important;
  }
  &_select {
    background: #c12b2c!important;
  }
}