@import "shared/style/varDesktop.scss";

.slots-layout-content {
  width: 100%;
  position: relative;

  &__menu-item {
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform .3s ease;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 10px;
    height: 1.42rem;
    &_active {
      background: $for-coef;
    }
  }
}