.full-event-header {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  background: #1b1d21;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: #95e4b7;
  &__zone-button {
    margin-left: auto;
    height: 80%;
    border-left: 2px solid #95e4b7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem;
    cursor: pointer;
    &:hover {
      * {
        fill: #95e4b7;
      }
    }
  }
  &__zone-image {
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    align-items: center;
    svg {
      width: 100%;
    }
  }
  &__image-flag {
    width: 1.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    svg {
      width: 100%;
    }
  }
}