.main-live-event-coef {
  width: 33%;
  min-width: 33%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 0.5rem;
  background: #32353d;
  color: #fff;
  
  &_select {
    background: #b33131a6!important;
    color: #fff;
    font-weight: bold;
    .main-live-event-coef__name {
      opacity: 1;
    }
  }
  &__name {
    opacity: 0.75;
  }
  &__coef-reduced {
    animation: main-live-reduced 3s linear;
    background: #32353d
      linear-gradient(180deg, #32353d 0%, #32353d 50%, rgba(255, 0, 46, 0) 50%, rgba(255, 0, 46, 0.3) 106.45%);
    background-size: 100% 200%;
  }
  &__coef-increased {
    animation: main-live-increase 3s linear;
    background: #32353d
      linear-gradient(180deg, #32353d 0%, #32353d 50%, rgba(12, 194, 101, 0) 50%, rgba(0, 204, 106, 0.3) 106.45%);
    background-size: 100% 200%;
  }
  &__rate {
    font-weight: bold;
    padding: 0.6rem;
    background: #1f4b9e;
    border-radius: 3px;
    &_select {
      background: #c12b2c;
    }
  }
}

@keyframes main-live-reduced {
  0% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}

@keyframes main-live-increase {
  0% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}
