@import "shared/style/varDesktop.scss";

.betgames {
  width: 100%;
  position: relative;
  min-height: 20rem;

  &__header {
    height: 2.78rem;
    background: $slots-gradient;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid $semi-light-blue
  }

  &__header-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.14rem;
    text-transform: uppercase;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 10px 10px 0px 0px;
    background: $slots-header-text-gradient;
  }

  &__iframe {
    width: 100%;
    border: none;
  }
}
